input[type=text]{
	width:150px;
	height:50px;
	border:1px solid red;
	border-radius:5px;
	color:red;
	font-weight:bold
}
textarea{
	color:blue
}
label{
	color:red
}
input[type=submit]{
	width: 80px;
    height: 36px;
    color: red;
    padding: 5px;
    border-radius: 5px;
}