p{
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    line-height: 150%;
    text-transform: lowercase;
	
	
	font: italic small-caps bold 26px/150% Arial;
	
	
	
	
}