*{margin:0;padding:0}
.full_wrap{
	width:100%;
}
.wrap{
	width:960px;
	display:block;
	margin:0 auto;
}
.header_bg{
	background:red;
}
.content_bg{
	background:orange;
}
header{
	background:orange;
}
.maincontent{
	background:red;
}
.elemnt_bg{
	background:yellow;
	height:25px;
}